.elementor-570 .elementor-element.elementor-element-8ddca09{padding:2px 2px 2px 2px;}.elementor-570 .elementor-element.elementor-element-aedb958 .elementor-text-editor{text-align:justify;}.elementor-570 .elementor-element.elementor-element-aedb958{color:#f9f9f9;}