.buttonizer-button{
    position:fixed;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.buttonizer-button .buttonizer_inner {
    position: relative;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    bottom: 0;
    opacity: 1;
}

.buttonizer-button:hover .c5 {
    opacity: 1;
}

.buttonizer-button a, .buttonizer-button a:hover, .buttonizer-button a:active, .buttonizer-button a:focus{
    text-decoration: none;
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.c5 {
    font-family: Arial, \'Helvetica Neue\', Helvetica, sans-serif;
    position: absolute !important;
    opacity: 0;
    bottom: -23px;
    height: 15px !important;
    line-height: 15px !important;
    right: 0;
    font-size: 8px;
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #FFFFFF;
    text-align: center;
    border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
}

.buttonizer-button a:hover,
.buttonizer-button a:focus{
    background: #1D9BDB;
}

.buttonizer-button a{
    background: #48A4DC;
    border-radius:50%;
    width:56px;
    height:56px;
    display: block;
    vertical-align: middle;
    text-align:center;
    color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    cursor:pointer;
    outline:none;
    position: relative;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin-top: 5px;
    line-height: 56px;
}

.buttonizer-button a.buttonizer_head {
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: 0;
}

.buttonizer-button[label-style="mirrored"] a.buttonizer_head {
    left: 0;
    right: auto;
}

.buttonizer-button .buttonizer_inner a.buttonizer_head i {
    font-size: 28px !important;
    font-style: normal;
    display: block;
    text-align: center;
}

.buttonizer-button .buttonizer_inner.exit_intent_animation a.buttonizer_head {
  animation: buttonizer_exit_intent 1s;
}

.buttonizer-button a.buttonizer_head .text {
    top: 15px;
    right: 70px;
    opacity: 0;
    visibility: hidden;
}

.buttonizer-button.buttonizer_label_hover a.buttonizer_head .text{
    opacity: 0 !important;
    visibility: hidden !important;
}

.buttonizer-button.buttonizer_label_hidden a.buttonizer_head .text{
    opacity: 0 !important;
    visibility: hidden !important;
}

.buttonizer-button.buttonizer_label_hover a.buttonizer_head:hover .text,
.buttonizer-button.buttonizer_label_hover {
    opacity: 1 !important;
    visibility: visible !important;
}



.buttonizer-button a.buttonizer_head.onlyone i {
    font-size: 26px !important;
}

.buttonizer-button .buttonizer_inner a.buttonizer_head i, .buttonizer-button .buttonizer_inner a.buttonizer_head img {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.buttonizer-button .buttonizer_inner.opened a.buttonizer_head i, .buttonizer-button .buttonizer_inner.opened a.buttonizer_head img {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttonizer-button i.isicon-fa {
    font-size: 30px !important;
}

.buttonizer-button .buttonizer_inner a.is_extra {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    right: 9px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.buttonizer-button .buttonizer_inner a.is_extra i {
    font-size: 18px;
}

.buttonizer-button.hide .buttonizer_inner {
    bottom: -100px !important;
    opacity: 0 !important;
}

.buttonizer-button .buttonizer_inner.opened .share_1 .text,
.buttonizer-button .buttonizer_inner.opened .share_2 .text,
.buttonizer-button .buttonizer_inner.opened .share_3 .text {
    top: -35px;
    right: -53px;
}

.buttonizer-button a .text {
    position: absolute;
    top: 7px;
    right: 55px;
    text-align: right;
    color: #0f0;
    height: 48px;
    line-height: 48px;
    font-size: 1.5em;
    padding: 0 10px;
    transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    display: block;
    white-space: nowrap;
    background: #ff0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.buttonizer-button[label-style="mirrored"] .buttonizer_head .text {
    left: 70px;
    right: auto !important;
}

.buttonizer-button .share .text {
    opacity: 0;
    visibility: hidden;
}

.buttonizer-button a.share:hover .text {
    visibility: visible;
    opacity: 1;
}

.buttonizer-button a i {
  font-size:24px;
  width:24px;
  height:24px;
}

.buttonizer-button .buttonizer_inner a.buttonizer_head .text {
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}

.buttonizer-button .buttonizer_inner.opened a.buttonizer_head .text {
    visibility: hidden;
    opacity: 0;
    margin-top: -20px;
}

/* Default animation */
.buttonizer-button[button-animation="default"] .buttonizer_inner.opened .bt_0 {
    opacity: 1;
    top: -110px;
}

.buttonizer-button[button-animation="default"] .buttonizer_inner.opened .bt_1 {
    opacity: 1;
    top: -160px;
}

.buttonizer-button[button-animation="default"] .buttonizer_inner.opened .bt_2 {
    opacity: 1;
    top: -210px;
}

.buttonizer-button[button-animation="default"] .buttonizer_inner.opened .bt_3 {
    opacity: 1;
    top: -260px;
}

.buttonizer-button[button-animation="default"] .buttonizer_inner.opened .bt_4 {
    opacity: 1;
    top: -310px;
}

.buttonizer-button[button-animation="default"] .buttonizer_inner.opened .bt_5 {
    opacity: 1;
    top: -360px;
}

.buttonizer-button[button-animation="default"] .buttonizer_inner.opened .bt_6 {
    opacity: 1;
    top: -410px;
}

.buttonizer-button[button-animation="default"][label-style='default'] .buttonizer_inner.opened .share_1 {
    opacity: 1;
    left: -105px;
    top: -53px;
}

.buttonizer-button[button-animation="default"][label-style='default'] .buttonizer_inner.opened .share_2 {
    opacity: 1;
    left: -154px;
    top: -53px;
}

.buttonizer-button[button-animation="default"][label-style='default'] .buttonizer_inner.opened .share_3 {
    opacity: 1;
    left: -202px;
    top: -53px;
}

.buttonizer-button[button-animation="default"][label-style='mirrored'] a.is_extra {
    left: 9px;
    right: auto;
}

.buttonizer-button[button-animation="default"][label-style='mirrored'] .buttonizer_inner.opened .share_1 {
    opacity: 1;
    left: 65px;
    top: -51px;
}

.buttonizer-button[button-animation="default"][label-style='mirrored'] .buttonizer_inner.opened .share_2 {
    opacity: 1;
    left: 114px;
    top: -51px;
}

.buttonizer-button[button-animation="default"][label-style='mirrored'] .buttonizer_inner.opened .share_3 {
    opacity: 1;
    left: 163px;
    top: -51px;
}

/* Circle animation */
.buttonizer-button[button-animation="circle"][label-style='default'] a.is_extra {
    top: -50px;
    right: 0px;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .bt_0 {
    opacity: 1;
    top: -49px;
    right: 150px;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .bt_1 {
    opacity: 1;
    top: -100px;
    right: 137px;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .bt_2 {
    opacity: 1;
    top: -150px;
    right: 108px;
    -moz-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .bt_3 {
    opacity: 1;
    top: -186px;
    right: 63px;
    -moz-transition-delay: 450ms;
    -webkit-transition-delay: 450ms;
    transition-delay: 450ms;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .bt_4 {
    opacity: 1;
    top: -208px;
    right: 10px;
    -moz-transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .share_1 {
    opacity: 1;
    left: -125px;
    top: -53px;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .share_2 {
    opacity: 1;
    left: -95px;
    top: -104px;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .share_3 {
    opacity: 1;
    left: -48px;
    top: -137px;
    -moz-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .share_1 .text,
.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .share_2 .text,
.buttonizer-button[button-animation="circle"][label-style='default'] .buttonizer_inner.opened .share_3 .text {
    top: 7px;
    right: 48px;
}

/* Mirrored circle */
.buttonizer-button[button-animation="circle"][label-style='mirrored'] a.is_extra {
    top: -50px;
    left: 0px;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .bt_0 {
    opacity: 1;
    top: -49px;
    left: 150px;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .bt_1 {
    opacity: 1;
    top: -100px;
    left: 137px;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .bt_2 {
    opacity: 1;
    top: -150px;
    left: 108px;
    -moz-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .bt_3 {
    opacity: 1;
    top: -186px;
    left: 63px;
    -moz-transition-delay: 450ms;
    -webkit-transition-delay: 450ms;
    transition-delay: 450ms;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .bt_4 {
    opacity: 1;
    top: -208px;
    left: 10px;
    -moz-transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .share_1 {
    opacity: 1;
    left: 85px;
    top: -53px;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .share_2 {
    opacity: 1;
    left: 55px;
    top: -104px;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.buttonizer-button[button-animation="circle"][label-style='mirrored'] .buttonizer_inner.opened .share_3 {
    opacity: 1;
    left: 8px;
    top: -137px;
    -moz-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

/* Label things */
.buttonizer-button.show_labels_on_hover a > .text,
.buttonizer-button.show_labels_on_hover .buttonizer_head.onlyone > .text,
.buttonizer-button .buttonizer_inner a.show_on_hover .text {
    opacity: 0;
    visibility: hidden;
}

.buttonizer-button.show_labels_on_hover a:hover > .text,
.buttonizer-button.show_labels_on_hover .buttonizer_head.onlyone:hover > .text,
.buttonizer-button .buttonizer_inner a.show_on_hover:hover .text {
    opacity: 1;
    visibility: visible;
}

.buttonizer-button[attention-trigger="true"][attention-animation="hello"] .buttonizer_head {
    -webkit-animation: buttonizer-hello 2s linear;
    animation: buttonizer-hello 2s linear;
}

.buttonizer-button[attention-trigger="true"][attention-animation='bounce'] .buttonizer_head {
    -webkit-animation: buttonizer-bounce 1.4s linear;
    animation: buttonizer-bounce 1.4s linear;
}

/* Mirroring */
.buttonizer-button[label-style='mirrored'] a.is_btzn_btn .text {
    left: 55px;
    right: auto;
}

/* Fade right to left animation */
.buttonizer-button .buttonizer_inner:not(.opened) .is_extra {
    visibility: hidden !important;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='default'] .buttonizer_inner:not(.opened) .is_extra {
    margin-right: -40px;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner:not(.opened) .is_extra {
    margin-right: 40px;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner.opened .is_extra {
    opacity: 1;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner .bt_0 {
    top: -110px;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner .bt_1 {
    top: -160px;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner .bt_2 {
    top: -210px;
    -moz-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner .bt_3 {
    top: -260px;
    -moz-transition-delay: 450ms;
    -webkit-transition-delay: 450ms;
    transition-delay: 450ms;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner .bt_4 {
    top: -310px;
    -moz-transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner .bt_5 {
    top: -360px;
    -moz-transition-delay: 750ms;
    -webkit-transition-delay: 750ms;
    transition-delay: 750ms;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner .bt_6 {
    top: -410px;
    -moz-transition-delay: 900ms;
    -webkit-transition-delay: 900ms;
    transition-delay: 900ms;
}

.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner:not(.opened) .share_1,
.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner:not(.opened) .share_2,
.buttonizer-button[button-animation="fade-left-to-right"] .buttonizer_inner:not(.opened) .share_3 {
    margin-bottom: -40px;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .is_extra {
    left: 9px;
    right: auto;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='default'] .buttonizer_inner .share_1 {
    left: -105px;
    top: -53px;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='default'] .buttonizer_inner .share_2 {
    left: -154px;
    top: -53px;
    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='default'] .buttonizer_inner .share_3 {
    left: -202px;
    top: -53px;
    -moz-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner .share_1 {
    left: 66px;
    top: -51px;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner .share_2 {
    left: 115px;
    top: -51px;

    -moz-transition-delay: 150ms;
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner .share_3 {
    left: 164px;
    top: -51px;

    -moz-transition-delay: 300ms;
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner .is_extra {
    margin-left: -40px;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner.opened .is_extra {
    margin-left: 0;
}

.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner .share_1,
.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner .share_2,
.buttonizer-button[button-animation="fade-left-to-right"][label-style='mirrored'] .buttonizer_inner .share_3 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}



/* Animation */
@-webkit-keyframes buttonizer-hello {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(.9) rotate(-8deg);
        transform: scale(.9) rotate(-8deg)
    }
    30%,
    50%,
    70% {
        -webkit-transform: scale(1.3) rotate(8deg);
        transform: scale(1.3) rotate(8deg)
    }
    40%,
    60% {
        -webkit-transform: scale(1.3) rotate(-8deg);
        transform: scale(1.3) rotate(-8deg)
    }
    100%,
    80% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}
@keyframes buttonizer-hello {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(.9) rotate(-8deg);
        -ms-transform: scale(.9) rotate(-8deg);
        transform: scale(.9) rotate(-8deg)
    }
    30%,
    50%,
    70% {
        -webkit-transform: scale(1.3) rotate(8deg);
        -ms-transform: scale(1.3) rotate(8deg);
        transform: scale(1.3) rotate(8deg)
    }
    40%,
    60% {
        -webkit-transform: scale(1.3) rotate(-8deg);
        -ms-transform: scale(1.3) rotate(-8deg);
        transform: scale(1.3) rotate(-8deg)
    }
    100%,
    80% {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@-webkit-keyframes buttonizer-bounce {
    0%, 10%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    40%,
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}
@keyframes buttonizer-bounce {
    0%, 10%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    40%,
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}